body,html{
	background-color:white;
}
#heading
{
    background-color: black;
    text-align: center;
    height: 65px;
    color: white;
    position: absolute;
    width: 100%;
    border: 0;
    top: 0;
    left: 0;
}
#mainmenu{
	height: 50px;
	position: absolute;
	width: 100%;
	background-color:grey;
    left: 0;
    top:65px;
}
#Block{
	height: 500px;
	width: 100%;
	background-color: #ccc;
	left: 0;
	top:115px;
	position: absolute;
}
#footer{
	background-color: green;
	text-align: center;
  height:50px;
    width: 100%;
    margin:0;
	color: white;
  font-size: 12px;
	left: 0;
	right:0;
 position:absolute;
	bottom:0;
}

.dropdown {
  float: left;
  background-color:limegreen;
  color: white;
    height: 50px;
    width: 200px;
    top:85px;
      overflow: hidden;
}

.dropbtn {
  font-size: 20px;  
  border: none;
     height: 50px;
    width: 20%;
  outline: none;
  top:65px;
  position: absolute;
  color: white;
  padding: 18px;
  left: 0;
  background-color: inherit;
  font-family: inherit;

}

.dropdown:hover .dropbtn {
  background-color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:green;
  text-align: center;
  top:65px;
  min-width:20%;
  left:0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1.5px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 18px;
}

.dropdown-content a:hover{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
