

#head{
  height: 150px;
  background-color: lightgreen;
  top:0px;
  text-align: center;
}
#menu_bar{
  height: 50px;
  background-color: #666;

}
#main_sec{
  height: 300px;
  width: 100%;
  background-color: lightblue;
}
#foot{
  height: 50px;
  width: 100%;
  background-color: blue;
  bottom: 0px;
  top: 0px;
}
#h123{
  text-align: center;
  width:100%;
  height:100px;
  margin: 0px;
  position: absolute;
  top:0;
  right: 0;
}
html{
  height:0;
  outline-width: 0;
  outline: none;
  border: 0px;
  padding: 0;
}
#men{
  position: absolute;
  height: 50px;
  width:100%;
  top:100px;
  background-color: yellow;
  left:0
}
#ft{

  height: 50px;
  width:100%;
  clear: both;
  background-color: lightblue;
  position:absolute;
  bottom:0;
  left:0;
  text-align: center;
}
#men ul{
  margin: :0;
  margin: :0;
}
#men li{

  padding-bottom:40px;
  list-style-type:none;
  float: left;
  display:block;
  width: 200px;
  height:auto;
  text-align: center;
  font-size: 16px;
}
#men li a{
  text-decoration: none;
  color: blue;
}
#mainblock{
  background-color: black;
  color: white;
  position: absolute;
  left:0;
  float: left;
  top:150px;
  width: 100%;
  height:425px;
}
