body{
  background-color: lightgreen;
}
.simi{
  background-color: blue;
  height: 400px;
  width: 100%;
}
#hd{
  text-align: center;
  color: white;
  font-size: 72px;
}
#logo{
  border-radius: 40%;
  height:150px;
  width:20%;
  align-items: center;

}
