body{
  background-color: lightgreen;
}
.simi{
  background-color: blue;
  height: 250px;
  width: 100%;
}
#hd{
  text-align: center;
  color: white;
  font-size: 72px;
}
#logo{
  border-radius: 80%;
  height:150px;
  width:20%
}
